In [1]:
# Int
a = 5678
print(a,type(a))

5678 <class 'int'>

In [2]:
# Float
a = 4567.8765
print(a,type(a))

4567.8765 <class 'float'>

In [3]:
# Complex
a = 456 + 8j
print(a,type(a))

(456+8j) <class 'complex'>

In [4]:
# Str, double, triple
a = 'Hello Python'
print(a,type(a))

Hello Python <class 'str'>

In [5]:
poem = '''Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are'''


print(poem)

Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are

In [6]:
# tuple
a = (2,3434,5,5467)
print(a,type(a))

(2, 3434, 5, 5467) <class 'tuple'>

In [7]:
# tuple
a = (2,)
print(a,type(a))

(2,) <class 'tuple'>

In [8]:
# tuple
a = [2,3434,5,5467]
print(a,type(a))

[2, 3434, 5, 5467] <class 'list'>

In [9]:
a[2] = 4000

In [10]:
print(a)

[2, 3434, 4000, 5467]

In [11]:
a = (3,544,5,346,567)

print(a[3])

346

In [13]:
a = list(a)
a[3] = 900
a = tuple(a)
print(a)

(3, 544, 5, 900, 567)

In [14]:
std_id = [1,1,2,2,2,2,23,3,3,3,4,4,45]

print(std_id)

[1, 1, 2, 2, 2, 2, 23, 3, 3, 3, 4, 4, 45]

In [15]:
std_id = list(set(std_id))
print(std_id)

[1, 2, 3, 4, 45, 23]

In [16]:
# dict:- key value pair datatype, # hash

a = {'Name':'Garema','Age':20,'Address':'Delhi'}
print(a,type(a))

{'Name': 'Garema', 'Age': 20, 'Address': 'Delhi'} <class 'dict'>

In [18]:
a['Address'] = 'Janakpuri'

print(a)

In [19]:
data = {'Region':['West','East','North','South'],
        'Sales':[345,546,453,456],
        'Profit':[120,200,90,78]}

In [20]:
print(data)

{'Region': ['West', 'East', 'North', 'South'], 'Sales': [345, 546, 453, 456], 'Profit': [120, 200, 90, 78]}

In [21]:
import pandas as pd

table = pd.DataFrame(data)
table

  Region  Sales  Profit
0   West    345     120
1   East    546     200
2  North    453      90
3  South    456      78

In [22]:
a = True
print(a,type(a))

True <class 'bool'>

In [23]:
# salary = 56789

# >= 50: manager
# >= 30: Jr manager
# >= 20: Executive
# Intern

In [24]:
salary = 27800
if salary >= 50000:
  print('Manager')
elif salary >= 30000:
  print('Jr Manager')
elif salary >= 20000:
  print('Executive')
else:
  print('Intern')

Executive

In [27]:
import random
random.randint(10000,60000)

15498

In [28]:
import numpy as np
database_salary = np.random.randint(10000,60000,5)

In [29]:
print(salary)

27800

In [30]:
for i in database_salary:
  salary = i
  if salary >= 50000:
    print(i, 'Manager')
  elif salary >= 30000:
    print(i, 'Jr Manager')
  elif salary >= 20000:
    print(i, 'Executive')
  else:
    print(i, 'Intern')

18447 Intern
30329 Jr Manager
31383 Jr Manager
41545 Jr Manager
28998 Executive

In [31]:
import time
for i in range(20):
  print(time.asctime())
  time.sleep(1)
  display(clear= True)

Sat Jul  5 22:35:40 2025

In [2]:
import random
comp_choice = random.randint(1,10)
user_choice = int(input('Enter your Choice(1-10): '))

print(f'''
User choice: {user_choice}
Computer Choice: {comp_choice}''')

if user_choice == comp_choice:
  print('User Won, Comp Lose!!')
else:
  print('Better Luck next time!!')

Enter your Choice(1-10):  4

User choice: 4
Computer Choice: 6
Better Luck next time!!

In [3]:
user_attempts = 3
import random
for i in range(user_attempts):
  comp_choice = random.randint(1,10)
  user_choice = int(input('Enter your Choice(1-10): '))

  print(f'''
  User choice: {user_choice}
  Computer Choice: {comp_choice}''')

  if user_choice == comp_choice:
    print('User Won, Comp Lose!!')
  else:
    print('Better Luck next time!!')

Enter your Choice(1-10):  5

  User choice: 5
  Computer Choice: 10
Better Luck next time!!

Enter your Choice(1-10):  4

  User choice: 4
  Computer Choice: 3
Better Luck next time!!

Enter your Choice(1-10):  3

  User choice: 3
  Computer Choice: 10
Better Luck next time!!

In [4]:
Questions = {1:'What is the capital of Australia?',
             2:'Who invented the telephone?',
             3:'Which planet is known as the Red Planet?',
             4:'In which year did India gain independence?',
             5:'What is the largest organ in the human body?'}

options = {1:'''A) Sydney
B) Melbourne
C) Canberra
D) Perth''',
           2:'''A) Albert Einstein
B) Isaac Newton
C) Alexander Graham Bell
D) Thomas Edison''',
           3:'''A) Earth
B) Venus
C) Jupiter
D) Mars''',
           4:'''A) 1945
B) 1946
C) 1947
D) 1950''',
           5:'''A) Liver
B) Brain
C) Skin
D) Heart'''}

win_ammount = 0

correct_op = ['C','C','D','C','C']

for i in range(1,len(Questions)+1):
  print(f'Question {i}: ',Questions[i])
  print(options[i])
  user_choice = input('Enter your choice: ').upper()

  correct_ans = correct_op[i-1]
  # print(correct_ans)
  if user_choice == correct_ans:
    win_ammount += 10000
    print('Correct Answer!!')
    print(end = '\n'*3)

  else:
    print('Better luck next time!!')
    break


print('Total Amount',win_ammount)

Question 1:  What is the capital of Australia?
A) Sydney
B) Melbourne
C) Canberra
D) Perth

Enter your choice:  c

Correct Answer!!



Question 2:  Who invented the telephone?
A) Albert Einstein
B) Isaac Newton
C) Alexander Graham Bell
D) Thomas Edison

Enter your choice:  c

Correct Answer!!



Question 3:  Which planet is known as the Red Planet?
A) Earth
B) Venus
C) Jupiter
D) Mars

Enter your choice:  d

Correct Answer!!



Question 4:  In which year did India gain independence?
A) 1945
B) 1946
C) 1947
D) 1950

Enter your choice:  c

Correct Answer!!



Question 5:  What is the largest organ in the human body?
A) Liver
B) Brain
C) Skin
D) Heart

Enter your choice:  c

Correct Answer!!



Total Amount 50000

In [6]:
def say_hello(name):
  print(f'Hello {name},','how are you??')

In [7]:
say_hello('Garema')

Hello Garema, how are you??

In [8]:
def vote(age):
  print('can Vote!!') if age >= 18 else print('can not Vote!!')

In [9]:
vote(19)

can Vote!!