In [ ]:
#Web Page Contains - Header, Footer, Main Page{Index Page - Consist of main informations}
#Web Scraping - Using languages - HTML, CSS and JavaScript

In [ ]:
import requests as r
url = '''https://en.wikipedia.org/wiki/List_of_Indians_by_net_worth'''

response = r.get(url)   #if <Response [200] - success!! data can be extracted
response

In [ ]:
html_data = response.content
print(html_data

In [ ]:
#pip install beautifulsoup4

In [ ]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_data)
print('Done')

In [ ]:
soup.find_all('table',class_ = 'wikitable sortable jquery-tablesorter')

In [ ]:
for i in soup.find_all('tr'):
    print(i.text)

In [ ]:
students = ['ram', 'shyam', 'raj', 'jay']
for index_no,value in enumerate(students):
  if 1<= index_no <= 2:
    print(index_no,value)

In [57]:
all_data = []
for index_no, value in enumerate(soup.find_all('tr')):  #enumerate function: breaks list/tuple in part
    if 0 <= index_no <= 24:
        #print(index_no,  value.text)
        #print(value.text.splitlines())
        temp_data = value.text.splitlines() #multiple line data is split to be used efficiently

        while '' in temp_data:
          temp_data.remove('')

     
        all_data.append(temp_data)

print('Done')

Done

In [ ]:
column = all_data[0] #
final_data = all_data[1:] #to align the data correctly and to hatao none

In [ ]:
import pandas as p
final_columns = ('Rank','Name','Net Worth(USD)','Company Name','Source Of Wealth','None','None')
rich_list = p.DataFrame(final_data, columns = final_columns)
final_df = rich_list.drop('None', axis = 1) #for columns 
final_df.to_excel('rich_list.xlsx')
print('done')

In [ ]:
import pymysql as py
conn = py.connect(host = 'localhost',
                  user = 'root',
                  password = '200527',
                  autocommit = True)

cur = conn.cursor() #object handler from sql otherwise we will have to write connection.cursor.execute over and over again
print('Done')

In [82]:
query = 'Create Database Wikipedia_1'

cur.execute(query)
print('done')

done

In [89]:
table_column = [ 'rich_' + i.replace(' ','_').replace('(USD)','1') for i in final_df.columns]
table_column  #to rectify error and problems called list comprehension

['rich_Rank',
 'rich_Name',
 'rich_Net_Worth1',
 'rich_Company_Name',
 'rich_Source_Of_Wealth']

In [90]:
query_part = ' varchar(255),'.join(table_column) + ' varchar(255)'

query = '''create table Wikipedia_1.rich_list(''' + query_part +');'
print(query)

create table Wikipedia_1.rich_list(rich_Rank varchar(255),rich_Name varchar(255),rich_Net_Worth1 varchar(255),rich_Company_Name varchar(255),rich_Source_Of_Wealth varchar(255));

In [91]:
cur.execute(query)
print('Done')

Done

In [101]:
for i in final_df.itertuples():  #itertuples = it iterates rows of the data one by one
    value =tuple(i[1:]) 
    
    query = f'''insert into Wikipedia_1.rich_list values{value};'''
    cur.execute(query)
print('done')

done

In [ ]:
#ANN, CNN, RNN, CAN, GEN AI