In [1]:
def check_palindrome(word):
    return word

In [2]:
check_palindrome('Garema')

'Garema'

In [3]:
a = 'lucky'
a[::-1]

'ykcul'

In [4]:
if a == a[::-1]:
  print(f'{a} is a Palindrome')
else:
  print(f'{a} is Not a Palindrome')

lucky is Not a Palindrome

In [5]:
def check_palindrome(word:str):
  if type(word) == str:
    word = word.upper()
    if word == word[::-1]:
      return 'Palindrome'
    else:
      return 'Not a Plaindrome'
  else:
    return 'Invalid Data Type'

In [6]:
check_palindrome('garema')

'Not a Plaindrome'

In [7]:
a:int = 'Garema'
print(a)

Garema

In [8]:
def give_fibo(n):
  fibo = [0,1]
  for i in range(n-2):
     last_num = fibo[-1]
     second_last_num = fibo[-2]
     next_num = last_num + second_last_num
     fibo.append(next_num)
  return fibo

In [9]:
give_fibo(5)

[0, 1, 1, 2, 3]

In [10]:
data = [34,65,654,76,856]
print(data[-1])
print(data[-2])

856
76

In [11]:
def check_prime(number):
    for i in range(2,number):
        if number % i == 0:
            return 'Not a Prime Number'
            break
            print('Happy Holi')
    else:
        return 'Prime Number'

In [12]:
check_prime(11)

'Prime Number'

In [13]:
n = 5

for i in range(1,n+1):
  print(i * '* ')

*
* *
* * *
* * * *
* * * * *

In [14]:
n = 5

for i in range(1,n+1):
  print(' '*(n-i) + i*'* ')

    *
   * *
  * * *
 * * * *
* * * * *

In [15]:
def print_star(n = 5, typ = 'left',shape = '*'):
  if typ  == 'left':
    space  = ''

  elif typ == 'right':
    space = '  '

  elif typ == 'mid':
    space = ' '

  for i in range(1,n+1):
    print(space*(n-i) + i*f'{shape} ')

In [17]:
print_star(n = 7, typ = 'mid', shape = '^')

      ^
     ^ ^
    ^ ^ ^
   ^ ^ ^ ^
  ^ ^ ^ ^ ^
 ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^

In [18]:
def sum_of_n_natural_numbers(n):
    result = 0
    for i in range(1,n+1):
        result += i
    return result

In [19]:
sum_of_n_natural_numbers(5)

15

In [20]:
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result

In [21]:
factorial(6)

720

In [22]:
def total_sales(*args):
  #unpacking
  result = 0
  for i in args:
    result += i
  return result

In [23]:
total_sales(3,57,93,5)

158

In [24]:
sales = [45678,63,456,2,1]
min_element = sales[0]

In [26]:
for i in sales[1:]:
  if i < min_element:
    min_element = i
print(min_element)

0

In [27]:
def minn(*data):
  min_ele = data[0]
  for i in data[1:]:
    if i< min_ele:
      min_ele = i
  return min_ele

In [28]:
minn(34,75,92,5)

5

In [30]:
def maxx(*data):
  max_ele = data[0]
  for i in data[1:]:
    if i > max_ele:
      max_ele = i
  return max_ele

In [32]:
maxx(47,29,34,90)

90

In [33]:
company = ['ola','uber','rapido','indrive','adani','tata']

# ['#OLA','#UBER','#RAPIDO']



def add_hashtag(*company):
  result = []
  for i in company:
    result.append('#'+i.upper())
  return result

In [34]:
add_hashtag('ola','uber')

['#OLA', '#UBER']

In [35]:
def store_records(name,age,sec,roll_no,Class):
  data = {'Name':name,'Age':age,'Sec':sec,'Roll_NO':roll_no,'Class':Class}
  import pandas as pd
  result = pd.DataFrame(data,index = [0])
  return result

In [39]:
store_records('Garema Gaba',20,'E',64,15)
store_records('Gaurvit Gaba',9,'B',19,4)
store_records('Toto Gaba',11,'NA',12,1)

        Name  Age Sec  Roll_NO  Class
0  Toto Gaba   11  NA       12      1

In [38]:
def students_records(**kwargs):
    # print(kwargs)
    # try exception
    import pandas as pd
    try:
        result = pd.DataFrame(kwargs)
        return result
    except:
        result = pd.DataFrame(kwargs,index = [1])
        return result

In [40]:
students_records(Name = ['Garema Gaba','Gaurvit Gaba','Toto Gaba'],
                 Age = [20,9,11],
                 Roll_No = [64,19,7],
                 Address = ['Janakpuri','Janakpuri','Janakpuri'])

           Name  Age  Roll_No    Address
0   Garema Gaba   20       64  Janakpuri
1  Gaurvit Gaba    9       19  Janakpuri
2     Toto Gaba   11        7  Janakpuri